In [1]:
CREATE DATABASE Books1_db

In [2]:
USE Books1_db

In [3]:
CREATE TABLE Publishers
    (
        ID VARCHAR(100) PRIMARY KEY, 
        Name VARCHAR(100) NOT NULL,
        Address VARCHAR(100) NOT NULL,
        Website VARCHAR(100) NOT NULL
    );

In [4]:
CREATE TABLE books 
    (
        ID VARCHAR(100) PRIMARY KEY,
        Title VARCHAR(100) NOT NULL
    );

In [5]:
CREATE TABLE ISBN
    (
        Isbn VARCHAR(100) PRIMARY KEY,
        Format VARCHAR(100) NOT NULL,
        Price INT NOT NULL,
        Cover VARCHAR(100) NOT NULL,
        Book_ID VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES Books(id),
        Publisher_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES Publishers(id)
    )

In [6]:
CREATE TABLE Reviewers
    (
        ID VARCHAR(100) PRIMARY KEY,
        Name VARCHAR(100) NOT NULL,
        Email VARCHAR(100) UNIQUE NOT NULL
    );

In [7]:
CREATE TABLE Reviews
    (
        Book_ID VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES books(id),
        Reviewer_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES reviewers(id),
        Title VARCHAR(100) NOT NULL,
        Details VARCHAR(100) NOT NULL,
        Rating INT NOT NULL,
        PRIMARY KEY (book_id, reviewer_id)
    );

In [19]:

INSERT INTO publishers
    (
        id,
        name, 
        address,
        website
    )
VALUES
    (
        'aksharan',
        'Aksharan',
        'pune',
        'web1'
    ),
    (
        'lost-epic',
        'Lost Epic',
        'bangalore',
        'web2'
    ),
    (
        'edu-world',
        'Edu World',
        'delhi',
        'web3'
    ),
    (
        'penguin',
        'Penguin',
        'london',
        'web4'
    )

In [20]:
INSERT into books
    (
        id,
        title
    )
VALUES
    (
        'manas',
        'Manas'
    ),
    (
        'the-accursed-god',
        'The Accursed God'
    ),
    (
        'rashmirathi',
        'Rashmirathi'
    );

In [21]:
INSERT INTO isbn
    (
        isbn,
        format,
        price,
        cover,
        book_id,
        publisher_id
    )
VALUES
    (
        '11234',
        'paperback',
        299,
        'manas_pb',
        'manas',
        'aksharan'
    ),
    (
        '11235',
        'ebook',
        49,
        'manas_f',
        'manas',
        'lost-epic'
    ),
    (
        '11236',
        'paperback',
        399,
        'tag',
        'the-accursed-god',
        'edu-world'
    ),
    (
        '11237',
        'ebook',
        119,
        'tag',
        'the-accursed-god',
        'lost-epic'
    ),
    (
        '11238',
        'ebook',
        159,
        'rashimirathi',
        'rashmirathi',
        'penguin'
    );

In [23]:
INSERT into reviewers
    (
        id,
        name,
        email
    )
VALUES
    (
        1,
        'suriya',
        'suriya@ecolab.com'
    ),
    (
        2,
        'Stephan',
        'stephani@google.com'
    ),
    (
        3,
        'Steve',
        'steve@outlook.com'
    ),
    (
        4,
        'John',
        'john@google.com'
    );

: Msg 2627, Level 14, State 1, Line 1
Violation of PRIMARY KEY constraint 'PK__Reviewer__3214EC276BB0C340'. Cannot insert duplicate key in object 'dbo.Reviewers'. The duplicate key value is (1).

In [24]:

INSERT into reviews
    (
        book_id,
        reviewer_id,
        title,
        details,
        rating
    )
VALUES
    (
        'manas',
        1,
        'interesting one',
        'details 1',
        4
    ),
    (
        'manas',
        4,
        'good',
        'details 2',
        3
    ),
    (
        'the-accursed-god',
        1,
        'must read',
        'details 1',
        5
    ),
    (
        'the-accursed-god',
        2,
        'amazing',
        'details 2',
        4
    ),
    (
        'rashmirathi',
        3,
        'not worth reading',
        'details 1',
        2
    );

In [25]:

SELECT * FROM publishers;

ID,Name,Address,Website
aksharan,Aksharan,pune,web1
Dune,Herbet,US,www.Dune.com
edu-world,Edu World,delhi,web3
Ikigai,Sam,US,www.ikirgai.com
lost-epic,Lost Epic,bangalore,web2
penguin,Penguin,london,web4
The Monk,Robin,India,www.Monk.com
The Pshycology,Morgan,UK,www.money.com

In [26]:
SELECT * FROM books;

ID,Title
Ikiagi,Ikigai
manas,Manas
Money,Money
rashmirathi,Rashmirathi
The Monk,The Monk
the-accursed-god,The Accursed God

In [28]:

SELECT * FROM isbn;

Isbn,Format,Price,Cover,Book_ID,Publisher_id
11234,paperback,299,manas_pb,manas,aksharan
11235,ebook,49,manas_f,manas,lost-epic
11236,paperback,399,tag,the-accursed-god,edu-world
11237,ebook,119,tag,the-accursed-god,lost-epic
11238,ebook,159,rashimirathi,rashmirathi,penguin