In [1]:
CREATE DATABASE books_db;

In [2]:
USE books_db;

In [3]:
CREATE TABLE Authors (
    author_id VARCHAR(10) PRIMARY KEY ,
    name VARCHAR(255),
    bio TEXT,
);

In [4]:
CREATE TABLE Books (
    book_id VARCHAR(50) PRIMARY KEY,
    title VARCHAR(255),
    details TEXT,
    author_id VARCHAR(10) FOREIGN KEY (author_id) REFERENCES authors(author_id)
);

In [6]:
INSERT into authors(author_id,name,bio) 

VALUES
    ('amish','Amish','Wrote the Scion of ikshvaku'),
    ('chetant','Chetan Bhagat','Wrote many fictional stories'),
    ('jeffrey','Jeffrey Archer','Wrote 2 books present in database'),
    ('jk','JK Rowlings','Wrote 7 parts of Harry Potter'),
    ('john','John Grisham','Wrote 1 book'),
    ('ramdhari','Ramdhari Singh Dinkar','Wrote 2 books recorded in database'),
    ('vivek','Vivek Dutta Mishra','Wrote 2 books');

In [9]:
SELECT * from authors;

author_id,name,bio
amish,Amish,Wrote the Scion of ikshvaku
chetant,Chetan Bhagat,Wrote many fictional stories
jeffrey,Jeffrey Archer,Wrote 2 books present in database
jk,JK Rowlings,Wrote 7 parts of Harry Potter
john,John Grisham,Wrote 1 book
ramdhari,Ramdhari Singh Dinkar,Wrote 2 books recorded in database
vivek,Vivek Dutta Mishra,Wrote 1 books

In [10]:
INSERT  

    INTO  

        books(book_id,title,details,author_id)

    VALUES 

        ('kane-and-abel','Kane and Abel','A book by jeffrey archer','jeffrey'),
         
        ('rashmirathi','Rashmirathi','A book by Ramdhari sing dinkar','ramdhari'), 

        ('sons-of-fortune','Sons of Fortune','A book by jeffrey archer','jeffrey'), 

        ('manas','Manas','A book by Vivek dutta mishra','vivek'), 

        ('summons','Summons','A book by John Grisham','john'), 

        ('five-point-someone','Five Point SomeOne','A book by Ramdhari sing dinkar','ramdhari'), 

        ('scion-of-ikshavaku','The Scion of Ikshavaku','A book by Amish','amish'), 

        ('the-accursed-god','The Accursed God','A book by Vivek dutta mishra','vivek');

In [12]:
select * from books;

book_id,title,details,author_id
five-point-someone,Five Point SomeOne,A book by Ramdhari sing dinkar,ramdhari
kane-and-abel,Kane and Abel,A book by jeffrey archer,jeffrey
manas,Manas,A book by Vivek dutta mishra,vivek
rashmirathi,Rashmirathi,A book by Ramdhari sing dinkar,ramdhari
scion-of-ikshavaku,The Scion of Ikshavaku,A book by Amish,amish
sons-of-fortune,Sons of Fortune,A book by jeffrey archer,jeffrey
summons,Summons,A book by John Grisham,john
the-accursed-god,The Accursed God,A book by Vivek dutta mishra,vivek

In [11]:
CREATE TABLE Users (
    user_id INT PRIMARY KEY,
    user_name VARCHAR(255),
    password VARCHAR(255)
);

In [13]:
INSERT  

    INTO  

        users (user_id,user_name,password) 

    VALUES 

        
        (1,'Jyothi','jyothi17'),
        (2,'Steve','steve12'),
        (3,'Stephan','steph123');

In [14]:
CREATE TABLE reviews (
    review_id INT ,
    book_id VARCHAR(50) FOREIGN KEY (book_id) REFERENCES Books(book_id),
    user_id INT FOREIGN KEY (user_id) REFERENCES Users(user_id),
    rating INT,
    review_text TEXT
);

In [15]:
INSERT INTO  
    REVIEWS(review_id, book_id,user_id, rating,review_text) 
VALUES 
    (1,'kane-and-abel',1,4,'Nice Book'),
         
    (2,'rashmirathi',2,3.5,'Good book'), 

    (3,'sons-of-fortune',3,4.5,'Thoughtfull'), 

    (4,'manas',1,4.7,'Good Book'), 

    (5,'summons',2,3.9,'Amazing'), 

    (6,'five-point-someone',3,3,'Great work'), 

    (7,'scion-of-ikshavaku',1,3.8,'Nice creativity'), 

    (8,'the-accursed-god',2,4.2,'Nice');

In [16]:
INSERT INTO  
    REVIEWS(review_id, book_id,user_id, rating,review_text) 
VALUES 
    (1,'kane-and-abel',1,4,'Nice Book');

In [17]:
SELECT * from Authors;

author_id,name,bio
amish,Amish,Wrote the Scion of ikshvaku
chetant,Chetan Bhagat,Wrote many fictional stories
jeffrey,Jeffrey Archer,Wrote 2 books present in database
jk,JK Rowlings,Wrote 7 parts of Harry Potter
john,John Grisham,Wrote 1 book
ramdhari,Ramdhari Singh Dinkar,Wrote 2 books recorded in database
vivek,Vivek Dutta Mishra,Wrote 1 books

In [18]:
select * from Users;

user_id,user_name,password
1,Jyothi,jyothi17
2,Steve,steve12
3,Stephan,steph123

In [19]:
SELECT * FROM Books;

book_id,title,details,author_id
five-point-someone,Five Point SomeOne,A book by Ramdhari sing dinkar,ramdhari
kane-and-abel,Kane and Abel,A book by jeffrey archer,jeffrey
manas,Manas,A book by Vivek dutta mishra,vivek
rashmirathi,Rashmirathi,A book by Ramdhari sing dinkar,ramdhari
scion-of-ikshavaku,The Scion of Ikshavaku,A book by Amish,amish
sons-of-fortune,Sons of Fortune,A book by jeffrey archer,jeffrey
summons,Summons,A book by John Grisham,john
the-accursed-god,The Accursed God,A book by Vivek dutta mishra,vivek

In [20]:
SELECT * FROM Reviews;

review_id,book_id,user_id,rating,review_text
1,kane-and-abel,1,4,Nice Book
2,rashmirathi,2,3,Good book
3,sons-of-fortune,3,4,Thoughtfull
4,manas,1,4,Good Book
5,summons,2,3,Amazing
6,five-point-someone,3,3,Great work
7,scion-of-ikshavaku,1,3,Nice creativity
8,the-accursed-god,2,4,Nice
1,kane-and-abel,1,4,Nice Book

In [21]:
SELECT B.title, R.rating, R.review_text
FROM Reviews R
JOIN Books B ON R.book_id = B.book_id
WHERE B.author_id = 'amish';

title,rating,review_text
The Scion of Ikshavaku,3,Nice creativity

In [22]:
SELECT B.title,B.details, R.rating, R.review_text 
                      FROM Reviews R
                      JOIN Books B ON R.book_id = B.book_id
                      WHERE R.review_id = 1;

title,details,rating,review_text
Kane and Abel,A book by jeffrey archer,4,Nice Book
Kane and Abel,A book by jeffrey archer,4,Nice Book

In [23]:
SELECT R.user_id,B.title, R.rating, R.review_text
FROM Reviews R
JOIN Books B ON R.book_id = B.book_id
WHERE R.user_id = 1;

user_id,title,rating,review_text
1,Kane and Abel,4,Nice Book
1,Manas,4,Good Book
1,The Scion of Ikshavaku,3,Nice creativity
1,Kane and Abel,4,Nice Book