In [1]:
CREATE DATABASE BOOKREVIEW_DB;

In [2]:
USE BOOKREVIEW_DB;

> ## CREATING TABLES

In [3]:
CREATE TABLE publishers
    (
        id VARCHAR(100) PRIMARY KEY, 
        name VARCHAR(100) NOT NULL,
        address VARCHAR(100) NOT NULL,
        website VARCHAR(100) NOT NULL
    );

In [4]:
CREATE TABLE books 
    (
        id VARCHAR(100) PRIMARY KEY,
        title VARCHAR(100) NOT NULL
    );

In [5]:
CREATE TABLE isbns
    (
        isbn VARCHAR(100) PRIMARY KEY,
        format VARCHAR(100) NOT NULL,
        price INT NOT NULL,
        cover VARCHAR(100) NOT NULL,
        book_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES books(id),
        publisher_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES publishers(id)
    )

In [6]:
CREATE TABLE reviewers
    (
        id VARCHAR(100) PRIMARY KEY,
        name VARCHAR(100) NOT NULL,
        email VARCHAR(100) UNIQUE NOT NULL
    );

In [7]:
CREATE TABLE reviews
    (
        book_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES books(id),
        reviewer_id VARCHAR(100) NOT NULL FOREIGN KEY REFERENCES reviewers(id),
        title VARCHAR(100) NOT NULL,
        details VARCHAR(100) NOT NULL,
        rating INT NOT NULL,
        PRIMARY KEY (book_id, reviewer_id)
    );

# <span style="font-size: 14.6667px; font-variant-ligatures: none;">ADD SOME REALISTIC DUMMY DATA</span>

## INSERTING INTO PUBLISHERS TABLE

In [8]:
INSERT INTO publishers
    (
        id,
        name, 
        address,
        website
    )
VALUES
    (
        'aksharan',
        'Aksharan',
        'pune',
        'web1'
    ),
    (
        'lost-epic',
        'Lost Epic',
        'bangalore',
        'web2'
    ),
    (
        'edu-world',
        'Edu World',
        'delhi',
        'web3'
    ),
    (
        'penguin',
        'Penguin',
        'london',
        'web4'
    )

## INSERTING INTO BOOKS TABLE

In [9]:
INSERT into books
    (
        id,
        title
    )
VALUES
    (
        'manas',
        'Manas'
    ),
    (
        'the-accursed-god',
        'The Accursed God'
    ),
    (
        'rashmirathi',
        'Rashmirathi'
    );

## INSERTING INTO ISBNS TABLE

In [10]:
INSERT INTO isbns 
    (
        isbn,
        format,
        price,
        cover,
        book_id,
        publisher_id
    )
VALUES
    (
        '11234',
        'paperback',
        299,
        'manas_pb',
        'manas',
        'aksharan'
    ),
    (
        '11235',
        'ebook',
        49,
        'manas_f',
        'manas',
        'lost-epic'
    ),
    (
        '11236',
        'paperback',
        399,
        'tag',
        'the-accursed-god',
        'edu-world'
    ),
    (
        '11237',
        'ebook',
        119,
        'tag',
        'the-accursed-god',
        'lost-epic'
    ),
    (
        '11238',
        'ebook',
        159,
        'rashimirathi',
        'rashmirathi',
        'penguin'
    );

## INSERTING INTO REVIEWERS TABLE

In [11]:
INSERT into reviewers
    (
        id,
        name,
        email
    )
VALUES
    (
        1,
        'Shreya',
        'shreya@ecolab.com'
    ),
    (
        2,
        'Stephan',
        'stephani@google.com'
    ),
    (
        3,
        'Steve',
        'steve@outlook.com'
    ),
    (
        4,
        'John',
        'john@google.com'
    );

## INSERTING INTO REVIEWS TABLE

In [12]:
INSERT into reviews
    (
        book_id,
        reviewer_id,
        title,
        details,
        rating
    )
VALUES
    (
        'manas',
        1,
        'interesting one',
        'details 1',
        4
    ),
    (
        'manas',
        4,
        'good',
        'details 2',
        3
    ),
    (
        'the-accursed-god',
        1,
        'must read',
        'details 1',
        5
    ),
    (
        'the-accursed-god',
        2,
        'amazing',
        'details 2',
        4
    ),
    (
        'rashmirathi',
        3,
        'not worth reading',
        'details 1',
        2
    );

# DISPLAYING ALL THE ROWS IN TABLES

## DISPLAYING PUBLISHERS

In [13]:
SELECT * FROM publishers;

id,name,address,website
aksharan,Aksharan,pune,web1
edu-world,Edu World,delhi,web3
lost-epic,Lost Epic,bangalore,web2
penguin,Penguin,london,web4

## DISPLAYING BOOKS

In [14]:
SELECT * FROM books;

id,title
manas,Manas
rashmirathi,Rashmirathi
the-accursed-god,The Accursed God

## DISPLAYING ISBNS

In [15]:
SELECT * FROM isbns;

isbn,format,price,cover,book_id,publisher_id
11234,paperback,299,manas_pb,manas,aksharan
11235,ebook,49,manas_f,manas,lost-epic
11236,paperback,399,tag,the-accursed-god,edu-world
11237,ebook,119,tag,the-accursed-god,lost-epic
11238,ebook,159,rashimirathi,rashmirathi,penguin

## DISPLAYING REVIEWERS

In [16]:
SELECT * FROM reviewers;

id,name,email
1,Shreya,shreya@ecolab.com
2,Stephan,stephani@google.com
3,Steve,steve@outlook.com
4,John,john@google.com

## DISPLAYING REVIEWS

In [17]:
SELECT * FROM reviews;

book_id,reviewer_id,title,details,rating
manas,1,interesting one,details 1,4
manas,4,good,details 2,3
rashmirathi,3,not worth reading,details 1,2
the-accursed-god,1,must read,details 1,5
the-accursed-god,2,amazing,details 2,4